body{
  background-image: url('mediterranean-cuisine-2378758_1920.jpg');
  position: relative;
}

.login-block-left{
  position: absolute;
  top: 500px;
  left: 200px;
}

.login-block-right{
  position: absolute;
  top: 500px;
  right: 200px;
}
